<div style=" margin-top: 5px;" class="border">


    <div class="sticky-top container-fluid rounded-top d-block  p-2 bg-secondary text-white">



        <div class="row sticky-top">
            <div class="col-md-6">
                <h4 class="modal-title" id="modal-basic-title">Add New Patient</h4>

            </div>
            <div class="col">

            </div>

        </div>
    </div>
    <div>
        <div class="card">

            <div class="card-body">
                <form [formGroup]="createForm" #formDirective="ngForm" (ngSubmit)="save()">

                    <div class="form-group">
                        <label for="sName" class="font-weight-bold">User Name <span
                            class="required-asterisk">*</span> :</label>
                        <input type="text" class="form-control" id="sName" placeholder="Enter User Name" name="sName"
                            formControlName="sName" required>
                    </div>
                    <div class="mt-2">
                        <div *ngIf="sName.invalid && (sName.dirty || sName.touched)" class="alert alert-danger">
                            <div *ngIf="createForm.controls['sName']?.errors.required">
                                User Name is required.
                            </div>
                            <div *ngIf="createForm.controls['sName']?.errors.minlength">
                                User Name must be at least 4 characters long.
                            </div>

                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fName" class="font-weight-bold">First Name <span
                                    class="required-asterisk">*</span> :</label>
                                <input type="text" class="form-control" id="fName" placeholder="Enter First Name"
                                    name="fName" formControlName="fName" required>
                            </div>
                            <div class="mt-2">
                                <div *ngIf="fName.invalid && (fName.dirty || fName.touched)" class="alert alert-danger">
                                    <div *ngIf="createForm.controls['fName']?.errors.required">
                                        First Name is required.
                                    </div>
                                    <div *ngIf="createForm.controls['fName']?.errors.minlength">
                                        First Name must be at least 4 characters long.
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lName" class="font-weight-bold">Last Name <span
                                    class="required-asterisk">*</span>:</label>
                                <input type="text" class="form-control" id="lName" placeholder="Enter Last Name Name"
                                    name="lName" formControlName="lName" required>
                            </div>
                            <div class="mt-2">
                                <div *ngIf="lName.invalid && (lName.dirty || lName.touched)" class="alert alert-danger">
                                    <div *ngIf="createForm.controls['lName']?.errors.required">
                                        Last Name is required.
                                    </div>
                                    <div *ngIf="createForm.controls['lName']?.errors.minlength">
                                        Last Name must be at least 4 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateOfBirth" class="font-weight-bold">Date Of Birth <span
                                    class="required-asterisk">*</span>:</label>
                                <input type="date" class="form-control" id="dateOfBirth"
                                    max="{{today | date:'yyyy-MM-dd'}}" placeholder="Enter Last Name Name"
                                    name="dateOfBirth" formControlName="dateOfBirth" required>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userType" class="font-weight-bold">User Type<span
                                    class="required-asterisk">*</span> :</label>
                                <select class="form-control" formControlName="userType">
                                    <option value="" disabled>Select Role</option>
                                    <option *ngFor="let role of roles" value="{{role.id}}">
                                        {{role.name | titlecase}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mdrNumber" class="font-weight-bold">Medical Record Number <span
                                    class="required-asterisk">*</span>:</label>
                                <input type="text" class="form-control" id="mdrNumber"
                                    placeholder="Enter Medical Record Number" name="mdrNumber"
                                    formControlName="medicalRecordNumber" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="insNumber" class="font-weight-bold">Insurance Number</label>
                                <input type="text" class="form-control" id="insNumber"
                                    placeholder="Enter Insurance Number" name="insNumber"
                                    formControlName="insuranceNumber" required>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phNumber" class="font-weight-bold">Phone Number </label>
                                <input type="text" class="form-control" id="phNumber" placeholder="Enter Phone Number"
                                    name="phNumber" formControlName="phoneNumber" required>
                            </div>
                            <div class="mt-2">
                                <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched) && createForm.controls['phoneNumber']?.errors.pattern"
                                    class="alert alert-danger">

                                    Invalid Phone Number
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mobNumber" class="font-weight-bold">Mobile Number</label>
                                <input type="text" class="form-control" id="mobNumber" placeholder="Enter Mobile Number"
                                    name="mobNumber" formControlName="mobileNumber" required>
                            </div>
                            <div class="mt-2">
                                <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched) && createForm.controls['mobileNumber']?.errors.pattern"
                                    class="alert alert-danger">


                                    Invalid Mobile Number


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="altContact" class="font-weight-bold">Alternate Contact</label>
                                <textarea type="text" class="form-control" id="altContact"
                                    placeholder="Enter Alternate Contact" name="altContact"
                                    formControlName="alternateContact" required></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="">Pharmacy Details</div>
                        <hr>
                        <div class="row ">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="pharmacyName" class="font-weight-bold">Pharmacy Name</label>
                                    <input type="text" class="form-control" id="pharmacyName"
                                        placeholder="Enter Pharmacy Name" name="pharmacyName"
                                        formControlName="pharmacyName" required>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phaddress" class="font-weight-bold">Address</label>
                                    <textarea type="text" class="form-control" id="phaddress"
                                        placeholder="Enter Address" name="phaddress" formControlName="address"
                                        required> </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pharmaPhone" class="font-weight-bold">Pharmacy Phone Number</label>
                                <input type="text" class="form-control" id="pharmaPhone"
                                    placeholder="Enter Phone Number" name="pharmaPhone"
                                    formControlName="pharmacyPhoneNumber" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pharmaFax" class="font-weight-bold">Fax Number</label>
                                <input type="text" class="form-control" id="pharmaFax" placeholder="Enter Fax Number"
                                    name="pharmaFax" formControlName="pharmacyFaxNumber" required>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status" class="font-weight-bold">Patient Status</label>
                                <select class="form-control" formControlName="status" value="">
                                    <option value="Active" selected>Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="refferal" class="font-weight-bold">Enter Referal Doctor Info</label>
                                <textarea type="text" class="form-control" id="refferal" placeholder="Enter Refferal"
                                    name="refferal" formControlName="refferal"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="container text-center">
                        <button data-dismiss="modal" class="btn btn-success " [disabled]="!createForm.valid"
                           >Save</button>
                        &nbsp; &nbsp;
                        <!-- <button type="button" class="btn  btn-secondary"
                            (click)="resetCreateForm(createForm, formDirective)">reset</button>
                            &nbsp; &nbsp; -->
                        <button type="button" class="btn  btn-secondary" (click)="navigateBack()">Cancel</button>

                    </div>

                </form>
            </div>
        </div>

    </div>
</div>