<div >
    <div class="container-fluid rounded-top d-block  p-2 bg-dark text-white" style="margin-top: 5px; ;">
      <label *ngIf="role == null" >User Form</label>
      <label *ngIf="role != null" > {{role | titlecase}} Form</label>
    </div>
  <mat-stepper linear #stepper >
    <div *ngFor="let form of formGroups; let i = index; trackBy: trackByFn;">
      <mat-step [stepControl]="form" editable>
        <form [formGroup]="form" (ngSubmit)="nextClick(form.value,i)">
          <ng-template (click)="nextClick(form.value,i)" matStepLabel>
            <div class="stepper-header-overlay" (click)="nextClick(form.value,i)"> </div>{{pages[i].label | titlecase}}
          </ng-template>
          <div *ngFor="let section of pages[i].sections; let j = index;">
            <mat-expansion-panel hideToggle expanded opened>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-label>{{section.label}}</mat-label>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <br/>
              <div class="container">
                <div class="row">
                  <div *ngFor="let field of section.fields; let k=index"
                    class="{{section.layout == 2 ?  'col-6' :'col-12'}}" [ngSwitch]="field.type">
                    <div class="form-group">
                      <!--     -->
                      <label for="{{field.controlName}}">({{k+1}}). {{field.label}} {{field.required ? '*' :''}} </label>
                     

                        <div *ngSwitchCase="'Text'">
                          <mat-form-field appearance="outline" style="width: 100%">
                            <input matInput placeholder="Type here...." readonly="{{field.readonly}}" 
                              required={{field.required}} formControlName={{field.controlName}}>
                          </mat-form-field>
                        </div>
                        <div *ngSwitchCase="'Date'">
                          <mat-form-field appearance="outline">
                            <input matInput type="date" placeholder="Type here...." readonly="{{field.readonly}}"
                              required={{field.required}} formControlName={{field.controlName}}>
                          </mat-form-field>
                        </div>

                        <div *ngSwitchCase="'Radio'">

                          <mat-form-field appearance="outline" style="width: 100%"> 

                            <input matInput style="display: none;" required={{field.required}}
                              readonly="{{field.readonly}}" formControlName={{field.controlName}}>

                            <mat-radio-group aria-label="test" required={{field.required}}
                              formControlName={{field.controlName}}>
                              <mat-radio-button value="Yes" disabled="{{field.readonly}}">Yes</mat-radio-button>
                              &nbsp;
                              <mat-radio-button value="No" disabled="{{field.readonly}}">No</mat-radio-button>
                            </mat-radio-group>
                          </mat-form-field>


                        </div>

                        &nbsp;
                       
                    </div>
                    <div class="w-100"></div>
                  </div>

                </div>
              </div>
            </mat-expansion-panel>
            <br />
          </div>
          <div>
            <div class="row ">
              <div class="col text-left">
                <button class="btn btn-secondary" mat-button matStepperPrevious [disabled]="i ==0">Back</button>
              </div>

              <div class="col text-center">
                <button mat-button class="btn btn btn-success" (click)="onFormSubmit(stepper)"
                  [disabled]="i !=formGroups.length-1 || role != null ">Submit</button>

              </div>
              <div class="col text-right">
                <!-- *ngIf="i !=formGroups.length-1" -->
                <button mat-button class="btn btn-secondary" [disabled]="i ==formGroups.length-1"
                  matStepperNext>Next</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
    </div>
    <!-- <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step> -->
    <!-- <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step> -->
  </mat-stepper>
 </div>