<div style="width:100%; margin-top: 5px; margin-bottom: 20px;" class="border">


    <div class="container-fluid rounded-top d-block  p-2 bg-dark text-white">
        <div class="row">
            <div class="col-6">
                <h4 class="modal-title" id="modal-basic-title">Change Password</h4>

            </div>
            <div class="col">  
            </div>

        </div>
    </div>
    <div>

        <div class="card" style="min-height: 600px;">
           <alert></alert>
            <div class="card-body">

                <form [formGroup]="changepwdform" #formDirective="ngForm" (ngSubmit)="save()">
                    <div class="form-group">
                        <label for="currentpassword" class="font-weight-bold label">Current Password :</label>
                        <input type="password" class="form-control" id="currentpassword" placeholder="Current Password "
                            name="currentpassword" formControlName="currentpassword" required>
                    </div>
                    <div class="mt-2">
                        <div *ngIf="currentpassword.invalid && (currentpassword.dirty || currentpassword.touched)"
                            class="alert alert-danger">
                            <div *ngIf="changepwdform.controls['currentpassword']?.errors.required">
                                <span class="label">    Current Password is required.</span>
                            </div>
                             
    
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newpassword" class="font-weight-bold label" >New Password :</label>
                        <input type="password" class="form-control" id="newpassword" placeholder="Current Password "
                            name="newpassword" formControlName="newpassword" required>
                    </div>

                    <div class="mt-0">
                        <div *ngIf="newpassword.invalid && (newpassword.dirty || newpassword.touched)"
                            class="alert alert-danger">
                            <div *ngIf="changepwdform.controls['newpassword']?.errors.required">
                               <span class="label"> New Password is required.</span>
                            </div>
                            <div *ngIf="changepwdform.controls['newpassword']?.errors.minlength">
                                <span class="label">  New Password must be at least 8 characters long.</span>
                            </div>
    
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmpassword" class="font-weight-bold label" >Confirm Password :</label>
                        <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password "
                            name="confirmpassword" formControlName="confirmpassword" required>
                    </div>

                    <div class="mt-2">
                        <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)"
                            class="alert alert-danger">
                            <div *ngIf="changepwdform.controls['confirmpassword']?.errors.required">
                                <span class="label">  New Password is required. </span>
                            </div>
                            <div *ngIf="changepwdform.controls['confirmpassword']?.errors.minlength">
                                <span class="label">    New Password must be at least 8 characters long.</span>
                            </div>
                            <div *ngIf="changepwdform.controls['confirmpassword']?.errors.matching">
                                <span class="label">   Confirm Password does not match </span>
                              </div>
                        </div>
                    </div>
                    <div class="container text-center">


                        <button data-dismiss="modal" class="btn btn-success " [disabled]="!changepwdform.valid"
                            class="btn btn-info">Save</button>
                        &nbsp; &nbsp;
                        <button type="button" class="btn  btn-secondary"
                            (click)="resetCreateForm(changepwdform, formDirective)">Reset</button>
    
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>