 

<div style="width:100%; margin-top: 5px;" class="border">

    <div class="container-fluid rounded-top d-block  p-2 bg-dark text-white">
        <h4 class="modal-title" id="modal-basic-title">View Role Forms</h4>
    </div>
      <div style="margin-top:10px; margin-bottom: 10px; text-align: right; margin-right: 50px;">
        <button type="button" class="btn btn-secondary" (click)="open(content)">Add</button>
    </div>   
    <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="fcDataSource">
            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
                <mat-cell *matCellDef="let row; let i=index"> {{i+1}}</mat-cell>
            </ng-container><!-- Progress Column -->
            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef> User Type </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.role.name | titlecase}}</mat-cell>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="flowName">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.flowName | titlecase}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-raised-button class="btn btn-secondary" style="display:none;"
                        (click)="openEdit(contentEdit, row)">
                        Edit</button>
                    <button mat-raised-button class="btn btn-secondary" (click)="viewUserForm(contentEdit, row)">
                        View</button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator style="display: none;" [pageSizeOptions]="[10, 25, 100]" [pageSize]="10"></mat-paginator>

    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Flow</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"
                #closeFlowConfigModal>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="createForm" #formDirective="ngForm" (ngSubmit)="save()">
                <!-- <div class="form-group">
                    <label for="dateOfBirth">Date of birth</label>
                    <div class="input-group">
                        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                            #dp="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn btn-secondary calendar" (click)="dp.toggle()" type="button"></button>
                        </div>
                    </div>
                </div> -->

                <div class="form-group">
                    <label for="flowConfigName" class="font-weight-bold">Name :</label>
                    <input type="text" class="form-control" id="flowConfigName" placeholder="Enter Flow Name"
                        name="flowConfigName" formControlName="flowConfigName" required>
                </div>
                <div class="mt-2">
                    <div *ngIf="flowConfigName.invalid && (flowConfigName.dirty || flowConfigName.touched)"
                        class="alert alert-danger">
                        <div *ngIf="createForm.controls['flowConfigName']?.errors.required">
                            Name is required.
                        </div>
                        <div *ngIf="createForm.controls['flowConfigName']?.errors.minlength">
                            Name must be at least 4 characters long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectRole" class="font-weight-bold">Role</label>
                    <!-- <div ngbDropdown container="body" class="input-group-append ">
                        <button name="roleName" formControlName="roleName"  type="button" id="roleName" class="btn btn btn- btn-sm form-control"
                            ngbDropdownToggle>{{role.name}}</button>
                        <div ngbDropdownMenu style="width: 100%;">
                            <button type="button" class="dropdown-item" *ngFor="let role of roles"
                                (click)="selectRole(role);$event.preventDefault();">{{role.name}}</button>

                        </div>
                    </div> -->
                    <select class="custom-select" (change)="selectRole($event)" formControlName="roleName">
                        <option value="" disabled>Select Role</option>
                        <option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</option>
                    </select>
                </div>

                <div class="border text-center">
                    <button data-dismiss="modal" class="btn btn-info" [disabled]="!createForm.valid"
                        class="btn btn-info">Save</button>
                    &nbsp;
                    <button type="button" class="btn btn-info"
                        (click)="resetCreateForm(createForm, formDirective)">Reset</button>


                </div>
            </form>
        </div>

    </ng-template>

    <ng-template #contentEdit let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Edit Flow</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"
                #closeFlowConfigModal>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="editForm" (ngSubmit)="update()">
                <div class="form-group">
                    <label for="id">Id</label>
                    <div class="input-group">
                        <input readonly class="form-control" formControlName="id">
                    </div>
                </div>

                <div class="form-group">
                    <label for="flowConfigEName" class="font-weight-bold">Name :</label>
                    <input type="text" class="form-control" id="flowConfigEName" placeholder="Enter Flow Name"
                        name="flowConfigEName" formControlName="flowConfigEName" required>


                </div>
                <div class="mt-2">
                    <div *ngIf="flowConfigEName.invalid && (flowConfigEName.dirty || flowConfigEName.touched)"
                        class="alert alert-danger">
                        <div *ngIf="editForm.controls['flowConfigEName']?.errors.required">
                            Name is required.
                        </div>
                        <div *ngIf="editForm.controls['flowConfigEName']?.errors.minlength">
                            Name must be at least 4 characters long.
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="selectRole" class="font-weight-bold">Role</label>
                    <!-- <div ngbDropdown container="body" class="input-group-append ">
                        <button type="button" id="selectRole" class="btn btn btn- btn-sm form-control"
                            ngbDropdownToggle>{{selectedRole}}</button>
                        <div ngbDropdownMenu style="width: 100%;">
                            <button type="button" class="dropdown-item" *ngFor="let role of roles"
                                (click)="selectRole(role);$event.preventDefault();">{{role.name}}</button>

                        </div>
                    </div> -->

                    <select class="custom-select" (change)="selectRole($event)" formControlName="roleName">
                        <option value="" disabled>Select Role</option>
                        <option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</option>
                    </select>
                </div>
                <div class="border text-center">
                    <button data-dismiss="modal" [disabled]="!editForm.valid" class="btn btn-info">Save
                        Changes</button>
                </div>
            </form>
        </div>

    </ng-template>


    <hr> 