.label-font{
    font-size: 16px;
  }

  mat-header-cell {
    display:flex;
    justify-content:flex-center;
   }

   mat-cell {
    display:flex;
    justify-content:flex-start;
   }
   .displyContent {
    display: block;
}

.hideContent {
   display: none;
}

.showSpace{
  padding:250px ;
}
